<h1>Все предметы</h1>
<h3>@Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Item item in Model.AllItems)
        {
            @Html.Partial("_Item", item)
        }
    }
</div>